<div class="jumbotron">
  <h1>AI<font color="#da0000">M M</font>essage</h1>

  <p class="lead">
    Place where players and games meet
  </p>

  <div class="btn-group" ng-hide="isLoggedIn()">
    <a ui-sref="login" class="btn btn-large btn-default">
      <i class="fa fa-book"></i>
      Login
    </a>
    <a ui-sref="register" class="btn btn-large btn-success">
      <i class="fa fa-download"></i>
      Register
    </a>
  </div>

    <div class="btn-group" ng-show="isLoggedIn()">
      <a ng-click="logout()" class="btn btn-large btn-default">
          <i class="fa fa-book"></i>
          Logout
      </a>
      <a ng-click="chat" class="btn btn-large btn-default">
          <i class="fa fa-magic"></i>
          AIMessage me
      </a>
    </div>

</div>

