<div class="jumbotron">
  <h1>AI<font color="#da0000">M M</font>essage</h1>

  <p class="lead">
    Place where players and games meet
  </p>

  <div class="btn-group" ng-hide="isLoggedIn()">
    <a ui-sref="login" class="btn btn-large btn-default">
      <i class="fa fa-book"></i>
      Login
    </a>
    <a ui-sref="register" class="btn btn-large btn-success">
      <i class="fa fa-download"></i>
      Register
    </a>
  </div>

  <div class="btn-group" ng-show="isLoggedIn()">
    <a ng-click="logout()" class="btn btn-large btn-default">
        <i class="fa fa-book"></i>
        Logout
    </a>
    <a ng-click="showNewChat()" class="btn btn-large btn-default">
        <i class="fa fa-magic"></i>
        AIMessage me
    </a>
  </div>

  <div class="row no-gutters" ng-show="isLoggedIn()">
    <div class="row no-gutters" ng-show="isNewChat()">
      <form ng-submit="createChat()">
        <div class="form-group">
          <p align="left">
            <label>Chat name:</label>
          </p>
          <input type="text" ng-model="newChat.name" class="form-control"/>
        </div>
        <button class="btn btn-success" type="submit">Create</button>
      </form>
    </div>
    <div class="row no-gutters" ng-hide="isNewChat()">
      <p align="left">
        <label>My Chats</label>
      </p>
      <table class="table table-striped">
        <th>Chat Name</th>
        <th>Action</th>
        <tr ng-repeat="chat in chats">
          <td align="left">{{chat.name}}</td>
          <td align="left">---</td>
        </tr>
      </table>
    </div>
  </div>
</div>
